

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

  .write,.dateType{
  font-size:14px;
  padding: 10px;
} 

.dateType {
  /* margin-left: 10px; */

  cursor: pointer;
  
}

.buttonClass,.backTick {
  font-size: bolder;
  color: white;
  /* margin-left: 10px; */
  background-color: green;
  padding: 20px 20px;
  /* padding:5px; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
} 
.backTick{
  background-color:darkred;
}
  
.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 150px 150px;
  column-gap: 50px;
  row-gap: 50px; 
  margin-top:50px;
  font-size: bolder;
  /* margin-left:450px; */
}
