* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0; */
  position: sticky;
  top:0;

  display: flex;
  justify-content: space-between;
  height: 80px;
  /* margin-top: 5px; */
  /* border: 2px solid black; */
  background-color: white;
  /* color:black; */
  align-items: center;
  border-bottom: 2px solid #e5e1e9;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
  ;
  /* z-index: 10; */
}

.logo_container {
  margin-left: 4%;
}

.logo {
  background-image: url("myntra_logo.webp");
  background-size: cover;
  width: 53px;
  height: 36px;
  /* border:2px solid black; */
}

.action_container {
  margin-right: 4%
}

.nav_bar {
  display: flex;
  min-width: 550px;
  justify-content: space-evenly;
}

.nav_bar a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-decoration: none;
  padding: 30px 0px;

}

/*THIS CODE WILL MOVE ALL THE NAV BAR
.nav_bar a:hover{
  border-bottom:2px solid #f54e77;
} WE HAVE TO USE THE BOTTOM CODE INSTEAD OF FIRST ONE*/
.border {
  border-bottom: 2px solid transparent;
}

.border:hover {
  border-bottom: 2px solid #f54e77;
}

/*UPPER CODE */

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}



/* USING FONT AWESOMES*/

/* .search-icon{
  display:flex;

}
.search-icon i{
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
  width:40px;
  border-top-left-radius: 4px;
  border:.5px solid black;
}
*/

.search_container {
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;

}

.search_icon {
  box-sizing: content-box;
  background-color: #F5F5F6;
  height: 20px;
  padding: 10px 10px;
  border-top-left-radius: 5px;
  color: #282c3f;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  /* border:2px solid black; */

}

.search_bar {
  flex-grow: 1;
  background-color: #F5F5F6;
  letter-spacing: .3px;
  box-shadow: none;
  border: none;
  height: 40px;
  outline: 0;
  float: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.action_container {
  display: flex;
  min-width: 194px;
  height: 40px;
  justify-content: space-between;
  /* cursor: pointer; */
}

.profile_name,
.wishlist_name,
.bag_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.3px;
}
.showCount{
  border:2px solid transparent;
  font-size: 12px;
   width:20px;
  height: 20px; 
  border-radius: 50%;
  background-color:rgb(255,0,0,0.9);
  color:white;
  text-align: center;
  position: relative;
  left:16px;
  bottom:52px;
  line-height: 16px;
  
}
.showCount:hover{
  border:2px solid black;
}


/*MAIN SECTION */
.items-container {
  margin: 40px 10%;
  display: flex; 
   flex-wrap: wrap; 
   justify-content: space-evenly;
  padding:20px 0px 0px 0px;
  width: 80%;
  /* border:1px solid black; */


}

.item-container {


  width: 250px;
  /* border:1px solid black; */
  margin-bottom: 20px;
}

.img-box {
  width: 100%;

}

.rating {
  color: #000000;
  font-size: 12px;
  font-weight: 700;

}

.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.item-name {

  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.pricing {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}

.discounted-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;

}

.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.discount-percent {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.bag-button {
   width: 100%;
   font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #ffff;
  border-radius: 7px;
  padding: 5px 0px;

}

/* .pricing{
  display: flex;
  justify-content:space-between;
  width:200px;
}
 */













/*FOOTER SECTION */
.footer-container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}

.footer-column1,
.footer-column2,
.footer-column3,
.footer-column4 {
  display: flex;
  flex-direction: column;

}

.footer-column1 a,
.footer-column2 a,
.footer-column3 a,
.footer-column4 a {
  text-decoration: none;
  color: #696b79;
  font-size: 15px;
  letter-spacing: 1.2px;
  padding: 0px 0px 5px 0;
}

h2 {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.copyright-contents p {
  margin: 10px 0px 40px 0px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
}