*
{
  margin:0px;
  padding:0px;
  border:border-box;
  font-family:cursive;
}
#first{
  color:red;

}
.second{
  color:blue;
}
.same{
  display: flex;
align-items: center;
justify-content: space-evenly;
}
.addblog{

background-color:greenyellow;
border:none;
border-radius:10px;
font-size:1rem;
padding:4px;

  /* color:black;border-top-right-radius: 4px;
  border-top-left-radius: 4px; */
}

.icon{
  display:flex;
  height:20px;
  width:100px;
  border:2px solid black;
  border-radius:10px;
  padding-left:16px;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}
.heart-icon i{
  text-align: center;
  color:red;
  margin-right:3px;
}

